@import 'colors';
@import 'variables';
@import 'fonts';

.inputField {
  text-align: left;

  .inputErrorMessage {
    min-height: $font-size-sm;
  }
}
.inputError {
  input {
    border: 2px solid $red;
  }

  .inputErrorMessage {
    color: $red;
    margin-top: $sm-margin;
    font-size: $font-size-sm;
  }
}
