@import 'styles/layout';
@import 'styles/variables';
@import 'styles/colors';
@import 'styles/mixins';

.heroWrapper {
  background-color: $hel-summer;
  display: grid;
  position: relative;
  overflow: visible;
}

.kidsImageContainer {
  grid-template-columns: 1fr minmax(auto, $containerMaxWidth) 1fr;
  display: grid;
  @include respond-above(lg) {
    background-image: url('../../../assets/images/Culture_kids_background@2x.png');
    background-repeat: repeat-x;
    background-position: center bottom -2px;
    background-size: 100% 321px;
  }
}

.kidsImage {
  grid-column: 2;
  min-height: calc(0.265 * 100vw);
  @media (min-width: map-get($breakpoints, lg)) {
    min-height: calc(0.265 * #{$containerMaxWidth});
  }
  background-image: url('../../../assets/images/Culture_kids@2x.jpg');
  background-repeat: no-repeat;
  background-position: center bottom -2px;
  background-size: 100% auto;
}

.heroContainer {
  display: grid;
  text-align: center;

  @include heroContainer();
}

.hero {
  h1 {
    margin-top: $largeMargin;
    margin-bottom: 0;
  }
  p {
    margin: $largeMargin 0;
  }

  .buttonGroup {
    @include button();
    margin: 0 auto;

    .authenticateButton {
      button {
        border: 1px solid $white !important;
      }
    }

    .registerButton {
      button {
        background-color: $white;
        margin-bottom: $baseMargin;
      }
    }
  }
}
