@import 'styles/colors';
@import 'styles/variables';
@import 'styles/fonts';
@import 'styles/mixins';

.wrapper {
  @include background($hel-light);
  display: grid;
  justify-items: center;
  grid-template-rows: min-content;
  @include respond-above(sm) {
    padding: $largePadding;
  }
}

.enrolContainer {
  @include background($hel-white);
}

.enrolWrapper {
  @include background($hel-white);
  padding: $basePadding;
  display: grid;
  justify-items: center;
}

.heading {
  text-align: center;
}

h1 {
  margin-bottom: 0;
}
.text {
  margin: 2rem 0;
}

.occurrenceInfo {
  @include background($hel-light);
  padding: $basePadding;
}

.actions {
  width: 60%;
}

.submitButton {
  @include button();
  padding: $basePadding 0;
  button {
    width: 100%;
  }
}

.backButton {
  @include button();
  button {
    width: 100%;
    @include background($hel-white);
    border: 2px solid $hel-summer !important;
  }
}
