@import 'styles/colors';
@import 'styles/fonts';
@import 'styles/mixins';
@import 'styles/layout';
@import 'styles/variables';

.successToast {
  background-color: $hel-white;
  position: fixed;
  margin: 0 2%;
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.22);
  display: grid;
  top: -25rem;
  text-align: center;

  @include respond-above(sm) {
    position: inherit;

    justify-self: center;

    width: 50rem;
    max-width: 98%;
    margin-top: 2rem;
    padding: 1rem;
    grid-template-columns: 2fr 8fr;
    text-align: initial;
    align-items: center;

    p {
      margin-top: 0.2rem;
    }
  }

  h1 {
    font-size: 1.5rem;
  }

  .tadaIcon {
    height: 6rem;
    width: 6rem;
    justify-self: center;
    align-self: center;
  }
}

.enterDone {
  transform: translateY(25rem);
  transition: transform 300ms;
}

.exit {
  transform: translateY(-200%);
  transition: transform 300ms;
}
