@import 'mixins';
@import 'colors';
@import 'variables';
@import 'layout';

.deleteButtonGroup {
  margin: $largeMargin 0;

  button {
    width: 100% !important;
  }
  .deleteButton {
    @include button();
  }

  .cancelButton {
    @include button();
    button {
      background: $hel-light;
    }
  }

  @include respond-above(sm) {
    display: grid;
    grid-gap: $baseMargin;

    grid-auto-flow: column;
  }

  @include respond-below(sm) {
    display: flex;
    flex-direction: column-reverse;
    .deleteButton {
      margin-bottom: $baseMargin;
    }
  }
}

.deleteChild {
  text-align: center;
}
