@import 'colors';
@import 'mixins';
@import 'variables';
@import 'fonts';
@import 'layout';

$logoHeight: 3rem;
$logoWidth: 5rem;

.footer {
  display: grid;

  @include respond-below(sm) {
    padding: 0 $basePadding;
  }
}

.footerWrapper {
  @include divider($hel-light);
  position: relative;
  display: grid;
  align-items: center;
  > div {
    padding: 0;
  }
}

.helsinkiLogo {
  @include helsinki-logo($hel-black);
  background-position: center;
  height: $logoHeight;
  width: $logoWidth;
  margin-bottom: $baseMargin;
}

.copyright {
  border-top: 1px solid $hel-black;
  padding-top: $basePadding;

  p {
    margin: 0;
    color: $footerGray;
  }
}

.accessibilityStatement {
  margin: $baseMargin 0;
  a {
    color: $footerGray;
  }
}
