@import 'mixins';
@import 'colors';

$logo-width: 5em;
$header-height: 5em;

.header {
  align-items: center;
  border-bottom: 2px solid black;
  display: flex;
  padding: 10px;
  height: $header-height;
}

.appName {
  margin-left: 30px;
}

.logo {
  @include helsinki-logo($hel-black);
  background-position: center;
  width: $logo-width;
  height: inherit;
}