@import 'mixins';
@import 'colors';

$logo-width: 5em;
$header-height: 5em;

.header {
  align-items: center;
  display: flex;
  padding: 0 10px;
  height: $header-height;
}

.appName {
  margin-left: 30px;
}

.logo {
  @include helsinki-logo(black);
  background-position: center;
  width: $logo-width;
  height: inherit;
}