@import 'styles/layout';
@import 'styles/variables';

.accessibilityStatement {
  margin-bottom: $largeMargin;
  @include respond-below(md) {
    margin: 0 $baseMargin $largeMargin $baseMargin;
  }

  h1 {
    overflow-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
    hyphens: manual;
  }

  p {
    max-width: $textParagraphMaxWidth;
  }
}
