@import 'styles/colors';
@import 'styles/variables';
@import 'styles/fonts';

.languageBar {
  a {
    text-decoration: none;
    margin: 0 $baseMargin;
    color: $black;

    &:visited {
      color: $black;
    }
  }
  margin-right: $largeMargin;
}
