@import 'variables';
@import 'mixins';
@import 'colors';
@import 'layout';

.wrapper {
  @include background($hel-light);
}

.childDetailWrapper {
  display: grid;
  padding: 0 $basePadding;
  @include respond-above(sm) {
    padding: 0;
    grid-template-columns: auto auto;
    gap: $baseMargin;
  }
}

.backButton {
  height: $largeMargin;
  width: $largeMargin;
  padding-top: $baseMargin;
}

button.backButton {
  border: 0;
  background: transparent;
}

.backButtonIcon {
  @include respond-above(sm) {
    height: inherit;
    width: inherit;
  }
  display: grid;
  align-items: center;
  justify-items: center;
  img {
    height: $baseMargin;
    width: $baseMargin;
  }
  &:hover {
    background: $white;
    border-radius: 50%;
  }
}

.childIcon {
  height: $largeMargin;
  width: $largeMargin;
}

.childInfo {
  display: grid;
  grid-auto-flow: row;
  margin-bottom: $baseMargin;
  .childInfoHeadingRow {
    display: inline-flex;
    justify-content: space-between;
    padding: $basePadding 0;

    .childName {
      display: grid;
      grid-template-columns: $largeMargin 1fr;
      gap: $baseMargin;

      > div {
        align-self: center;
      }

      h1 {
        margin: 0;
        align-self: center;
        text-transform: capitalize;
      }
    }

    .editChildInfo {
      display: grid;
      align-self: center;

      button {
        display: inline-flex;
        border: none;
        align-items: center;
        justify-items: right;

        span {
          @include respond-above(sm) {
            margin-right: $baseMargin;
          }

          @include respond-below(sm) {
            display: none;
          }
        }
      }
    }
  }
  .childInfoRow {
    display: grid;
    padding-bottom: $baseMargin;
    display: grid;
    grid-template-columns: $largeMargin 1fr;
    gap: $baseMargin;
    > span {
      line-height: $baseMargin;
      align-self: center;
    }

    > div {
      justify-self: center;
    }
  }
}
