@import 'variables';
@import 'mixins';
@import 'colors';
@import 'layout';

$childHeadingMargin: 0.65rem;

.wrapper {
  @include background($hel-light);
}

.childDetailWrapper {
  display: grid;
  padding: 0 $basePadding;
  @include respond-above(sm) {
    padding: 0;
    grid-template-columns: 1fr 10fr 1fr;
  }
  @include respond-below(sm) {
    grid-auto-rows: min-content;
  }
}

.backButton {
  @include respond-below(sm) {
    display: none;
  }

  height: $largeMargin;
  width: $largeMargin;
  margin-top: $baseMargin;

  button {
    width: 100%;
    border: 0;
    background: transparent;
  }

  .backButtonIcon {
    height: inherit;
    width: inherit;
    display: grid;
    align-items: center;
    justify-items: center;
    img {
      height: $baseMargin;
      width: $baseMargin;
    }
    &:hover {
      background: $white;
      border-radius: 50%;
    }
  }
}

.childIcon {
  height: $largeMargin;
  width: $largeMargin;
}

.childInfo {
  display: grid;
  grid-auto-flow: row;
  margin-bottom: $baseMargin;
  .childInfoHeadingRow {
    display: inline-flex;
    justify-content: space-between;
    margin: $baseMargin 0;

    .childName {
      display: grid;

      @include respond-below(sm) {
        > div {
          display: none;
        }
        flex-grow: 1;
      }
      @include respond-above(sm) {
        grid-template-columns: $largeMargin 1fr;
        gap: $baseMargin;
        > div {
          align-self: baseline;
          margin-top: $childHeadingMargin;
        }
      }

      h1 {
        margin: 0;
        align-self: center;
      }
    }

    .editChildInfo {
      display: grid;
      align-self: baseline;

      button {
        display: inline-flex;
        border: none;
        align-items: center;
        justify-items: right;

        span {
          @include respond-above(md) {
            white-space: nowrap;
            margin-right: $baseMargin;
          }

          @include respond-below(md) {
            display: none;
          }
        }
      }
    }
  }
  .childInfoRow {
    padding-bottom: $baseMargin;
    display: grid;
    grid-template-columns: $largeMargin 1fr;
    gap: $baseMargin;
    @include respond-above(sm) {
      > span {
        align-self: center;
      }
    }

    @include respond-below(sm) {
      > span {
        align-self: start;
      }
    }

    > div {
      justify-self: center;
    }
  }
}
