@import 'styles/colors';
@import 'styles/variables';
@import 'styles/fonts';

$childProfileMargin: 0.2rem;

.childWrapper {
  background: $white;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: $baseMargin;
  border: 0;
  width: 100%;
  text-align: left;
  align-items: center;
}

.invitationLabel {
  background-color: $hel-engel;
  align-self: start;
  position: absolute;
  padding: $childProfileMargin $basePadding;
  font-size: $font-size-sm;
}

.child {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: $largePadding $basePadding;

  .childIcon {
    > div {
      height: $largeMargin;
      width: $largeMargin;
    }
  }

  .childInfo {
    margin-left: 1rem;
    h3 {
      font-size: $font-size-lg;
      margin: 0;
      margin-bottom: $childProfileMargin;
    }

    .childBirthdate {
      align-items: center;
      display: inline-flex;
      > div {
        margin-right: 0.5rem;
      }
    }
  }
}

.childDetail {
  display: flex;
  align-items: center;
  margin: $baseMargin;
  > div {
    transform: rotate(-90deg);
  }
}
