@import 'mixins';
@import 'variables';
@import 'layout';

.submitButton {
  @include button();
  margin: $largeMargin 0;
}

.childName,
.childInfo {
  @include respond-above(md) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: $baseMargin;
  }
}

.notEligible {
  text-align: center;
  .goBackButton {
    @include button();
    margin: $largeMargin 0;
  }
}

.icon {
  display: block;
  margin: $largeMargin auto;
  height: $largeMargin;
  width: $largeMargin;
}
