@import 'styles/variables';
@import 'styles/fonts';

.userMenu {
  li {
    padding: 0;
    list-style: none;
    margin-bottom: $largeMargin;
    button {
      border: 0;
      font-weight: $font-weight-bold;
    }
  }
}
ul.userMenu {
  padding: 0;
}
