@import 'styles/variables';

.imgWrapper {
  height: $imgHeight;
  width: $imgHeight;
  display: flex;
  justify-items: center;
  align-items: center;

  img {
    height: inherit;
    width: inherit;
  }
}
