@import 'variables';
@import 'layout';
@import 'fonts';

.wrapper {
  padding-bottom: $largeMargin;

  display: grid;
  grid-template-columns: 1fr minmax(auto, $containerMaxWidth) 1fr;
}

.contact {
  grid-column: 2;
  padding: 0 3rem 3rem 3rem;

  h2 {
    padding: $largeMargin 0;
    text-align: center;
  }

  .contactPersons {
    display: grid;
    text-align: center;

    p {
      &:first-child {
        font-size: $font-size-lg;
      }
    }
  }
}
