@import "variables";
@import "layout";
@import "fonts";

.wrapper {
    padding-bottom: $largeMargin;
}

.contact {
    h1 {
        padding: $largeMargin 0;
        text-align: center;
    }

    .contactPersons {
        display: grid;
        text-align: center;
        @include respond-above(sm) {
            grid-template-columns: 1fr 1fr;

        }

        p {
            &:first-child {
                font-size: $font-size-lg;
            }
        }
    }
}