@import 'styles/variables';
@import 'styles/layout';
@import 'styles/fonts';

$korosIncludedPadding: 7rem;

.wrapper {
  padding: 2 * $largeMargin 0;
  //
  display: grid;
  grid-template-columns: 1fr minmax(auto, $containerMaxWidth) 1fr;
}

.contact {
  grid-column: 2;

  h2 {
    margin-top: 0;
    text-align: center;
  }

  .contactPersons {
    display: grid;
    text-align: center;

    p {
      &:first-child {
        font-size: $font-size-lg;
      }
    }
  }
}
