@import 'fonts';
@import 'variables';

.selectWrapper {
    display: flex;
    flex-direction: column;
    label {
        font-size: $font-size-sm;
        margin-bottom: $baseMargin * 0.25;
        font-weight: $font-weight-bold;
    }
    
    select {
        height: $inputHeight;
    }
}