@import 'variables';
@import 'colors';
@import 'layout';

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

.tada {
    display: block;
    height: 4*$imgHeight;
    width: 4*$imgHeight;
    margin: $baseMargin auto;
}