@import 'styles/variables';
@import 'styles/colors';
@import 'styles/layout';
@import 'styles/mixins';

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  text-align: center;
  @include respond-below(md) {
    padding: 0 $basePadding;
  }
}

.tada {
  display: block;
  height: 4 * $imgHeight;
  width: 4 * $imgHeight;
  margin: $baseMargin auto;
}

.submitButton {
  width: 50%;
  @include button();
  margin-top: $largeMargin;
}
