@import 'styles/layout';
@import 'styles/mixins';
@import 'styles/variables';

.wrapper {
  @include background($hel-light);
  text-align: center;
  padding-bottom: 2 * $largeMargin;

  display: grid;
  grid-template-columns: 1fr minmax(auto, $containerMaxWidth) 1fr;

  .instructions {
    grid-column: 2;

    h2 {
      margin: 0;
      padding: $largeMargin 0;
    }

    .icon {
      height: $xlargeMargin;
      width: $xlargeMargin;
      display: block;
      margin: 0 auto;
    }

    .iconContainer {
      display: grid;
      padding: 0 $basePadding;

      @include respond-above(sm) {
        grid-template-columns: 1fr 1fr 1fr;
        gap: $baseMargin;
      }
    }
  }
}
