@import 'styles/mixins';
@import 'styles/variables';

.notEligible {
  text-align: center;
  .goBackButton {
    @include button();
    margin: $largeMargin 0;
  }
}

.icon {
  display: block;
  margin: $largeMargin auto;
  height: $largeMargin;
  width: $largeMargin;
}
