@import 'styles/variables';
@import 'styles/layout';
@import 'styles/fonts';

$childIconHeight: 4rem;

.childImage {
  height: $childIconHeight;
  width: $childIconHeight;
  margin-right: $baseMargin;
}

.childField {
  margin-top: $baseMargin;
  margin-bottom: $largeMargin;
}

.childName,
.childFixedInfo {
  @include respond-above(md) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: $baseMargin;
  }
}

.childBirthdate,
.childHomeCity {
  display: flex;
  flex-direction: column;

  label {
    font-size: $font-size-sm;
    margin-bottom: $baseMargin * 0.25;
    font-weight: $font-weight-bold;
  }

  p {
    padding: 0;
    margin: 0;
  }
}

.heading {
  display: flex;
  flex-direction: row;
  align-items: center;

  h2 {
    flex-grow: 1;
  }
  button {
    padding: 0;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: $font-weight-bold;

    > div {
      padding-left: 5px;
    }
  }
}
