@import '../../home/home.module.scss';
@import 'styles/mixins';
@import 'styles/variables';

.notEligible {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .notEligibleFace {
    height: 4rem;
    width: 4rem;
    margin: $baseMargin 0;
  }
}

.goBackButton {
  margin: 2 * $baseMargin;
  @include button();
}
