@import 'styles/mixins';
@import 'styles/layout';
@import 'styles/colors';

.profileWrapper {
  display: grid;
  @include respond-below(md) {
    padding: 0 $basePadding;
  }
  @include respond-above(sm) {
    grid-template-columns: 1fr 10fr 1fr;

    .profile {
      grid-column: 2;
    }
  }
}

.profileContent {
  .thisYearPartner {
    p {
      text-align: left;
    }
  }
}

.heading {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: $baseMargin;
  h1 {
    margin: 0;
  }

  .editProfile {
    button {
      align-items: center;
    }

    @include respond-below(md) {
      align-self: start;
      span {
        display: none;
      }
    }
    @include respond-above(md) {
      align-self: center;
      span {
        margin-right: $baseMargin;
        white-space: nowrap;
      }
      button {
        display: inline-flex;
        align-items: center;
      }
    }
  }
  button {
    border: none;
    &:focus {
      outline: 1px solid $focusOutline;
    }
  }
}

.wrapper {
  @include background($hel-light);
}

.guardianInfo {
  display: grid;
  grid-auto-flow: row;
  margin-bottom: $baseMargin;

  .guardianInfoRow {
    h1 {
      margin: 0;
      align-self: center;
    }
    display: grid;
    grid-template-columns: $largeMargin 1fr;
    gap: $baseMargin;
    padding-bottom: $baseMargin;

    > span {
      align-self: center;
    }

    > div {
      align-self: center;
      justify-self: center;
    }
    &:first-child {
      padding-top: $baseMargin;
    }
  }
}
