@import 'styles/colors';
@import 'styles/fonts';
@import 'styles/mixins';
@import 'styles/layout';
@import 'styles/variables';

$modalPadding: 2rem;
$modalWidthLg: 800px;

.modal {
  background-color: $white;
  position: relative;

  // Make tab-key jump between fields
  @include respond-below(md) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  @include respond-above(md) {
    width: $modalWidthLg;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($hel-gray, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.closeButton {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  @include respond-below(md) {
    z-index: 1;
    position: relative;
  }
  button {
    padding: 0;
    border: none;
    height: $largeMargin;
    width: $largeMargin;
    > div {
      display: block;
      margin: 0 auto;
    }
  }
}

.modalContent {
  background-color: $white;
  padding: $basePadding $largePadding;
  @include respond-below(md) {
    // Ensure that modal is vertically scrollable on mobile
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: $largePadding 0;
    overflow: auto;
  }
}

.modalChildren {
  padding: 0 $modalPadding;

  @include respond-above(sm) {
    padding: 0 $modalPadding;
  }
}

.heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 0 $largeMargin 0;
  padding: 0 $modalPadding;

  .icon {
    height: $largeMargin;
    width: $largeMargin;
    margin-right: $baseMargin;
  }

  h1 {
    font-size: 2rem;
    margin: 0;
    flex-grow: 1;
  }

  h2 {
    flex-grow: 1;
  }
}
