@import 'styles/colors';
@import 'styles/layout';
@import 'styles/variables';

$iconSize: 2 * $xlargeMargin;

.noEvent {
  padding: $largeMargin;
  display: grid;
  background: $white;
  @include respond-above(sm) {
    grid-template-columns: $iconSize 1fr;
    grid-gap: $baseMargin;
  }
  p {
    align-self: center;

    @include respond-below(sm) {
      text-align: center;
    }
  }
  .envelopIcon {
    height: $iconSize;
    width: $iconSize;

    @include respond-below(sm) {
      justify-self: center;
    }
  }
}
