@import 'styles/mixins';

$qrMargin: 3rem;
$eventsListMargin: 4rem;

.eventsList {
  margin-top: $eventsListMargin;
}

.qrWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: fill;
  canvas {
    width: 100% !important; // Override <QRCode /> components inline styles
    height: 100% !important;
  }
}
