@import 'styles/mixins';
@import 'styles/variables';
@import 'styles/layout';

.email {
  label {
    font-weight: bold;
  }
  p {
    margin-top: $baseMargin * 0.25;
  }
}

.buttonsWrapper {
  display: grid;
  @include respond-above(sm) {
    grid-template-columns: 1fr 1fr;
  }
  grid-gap: $baseMargin;
  margin: $largeMargin 0;
  button: {
    width: 100%;
  }
}

.cancelButton {
  @include respond-below(sm) {
    grid-row: 2;
  }
  @include button();
  button {
    width: 100%;
    background-color: $hel-light;
  }
}

.submitButton {
  @include respond-below(sm) {
    grid-row: 1;
  }
  @include button();
  button {
    width: 100%;
  }
}

.profileName {
  @include respond-above(sm) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: $baseMargin;
  }
}

.icon {
  display: block;
  margin: $largeMargin auto;
  height: $largeMargin;
  width: $largeMargin;
}
