@import "colors";
@import 'variables';

.buttonWrapper {
    display: flex;

    button {
        flex: 1;
        border: 1px solid $black;
        color: $black;
        text-align: center;
        height: $buttonHeight;
    }
}