@import 'styles/colors';
@import 'styles/fonts';
@import 'styles/mixins';
@import 'styles/variables';

$logoHeight: 2.5rem;
$logoWidth: 5.5rem;

.smallScreenNav {
  display: flex;
  flex-direction: row;
  font-size: $font-size-lg;
  button {
    border: 0;
    background: transparent;
  }
}

.smallScreenNavTop {
  display: flex;
  justify-content: space-between;
}

.smallScreenNavContent {
  position: fixed;
  box-sizing: border-box;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: $white;
  z-index: 1;
  width: 100%;
  display: grid;
  grid-template-rows: 4rem;
  padding: 0 $basePadding;
}
.smallScreenNavLangBar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  a {
    margin: 0;
  }
}
.logoWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  @include helsinki-logo($hel-black);
  background-position: center;
  height: $logoHeight;
  width: $logoWidth;
}

.closeButton {
  margin: 0;
  padding: 0;
}
