@import 'variables';
@import 'mixins';

.notFound {
  text-align: center;
  @include button();
  align-self: center;

  button {
    width: 50%;
    margin-top: $largeMargin;
  }
}

.icon {
  display: block;
  margin: 0 auto;
  height: $largeMargin;
  width: $largeMargin;
}
