@import 'fonts';
@import 'variables';
@import 'colors';

.inputWrapper {
    display: grid;
    input {
        padding: $buttonPadding;
    }
}

.inputTypeWrapper {
    display: grid;
}

.textInput, .numberInput {
    .inputTypeWrapper {
        label {
            font-size: $font-size-sm;
            margin-bottom: $baseMargin * 0.25;
            font-weight: $font-weight-bold;
        }
        text-align: left;

        input {
            height: $inputHeight;  
        }  
    }
}

.checkboxInput {
    .inputTypeWrapper {    
        grid-auto-flow: column;
        grid-template-columns: $baseMargin*2 1fr;
        align-items: center;
        input {
            grid-column: 1;
            min-height: $inputHeight;  
        }
        label {
            text-align: left;
        }  
    }
}