@import 'fonts';
@import 'variables';
@import 'colors';

.inputWrapper {
    display: grid;
    input {
        padding: $buttonPadding;
    }
}

.inputTypeWrapper {
    display: grid;
}

.textInput, .numberInput {
    .inputTypeWrapper {
        label {
            font-size: $font-size-sm;
            margin-bottom: $baseMargin * 0.25;
            font-weight: $font-weight-bold;
        }
        text-align: left;

        input {
            height: $inputHeight;  
        }  
    }
}

.checkboxInput {
    .inputTypeWrapper {    
        padding: $buttonPadding;
        padding-left: 0;
        
        input {
            display: none;
        }
        label {
            position: relative;
            padding-left: $checkboxPaddingLeft;
            line-height: $inputHeight;

            &:before {
                display: inline-block;
                content: '';
                left: 0;
                top: 25%;
                width: $checkboxHeight;
                height: $checkboxHeight;
                position: absolute;
                background-color: $white;
                border: 1px solid $black;
            }
        }

        input[type=checkbox]:checked + label:before {
            background-image: url('../../../assets/icons/svg/checkbox.svg');
            background-size: contain;
            text-align: center;
            background-color: $hel-summer;
            border: none;
        }
    }
}