@import "layout";
@import "variables";

.container {
    display: grid;

    padding-bottom: $containerPaddingBottom;
    // It seemed like a good idea to add this on Friday December 13, but
    // I'm not so sure: those paddings keep adding up for nested divs.
    // @include respond-below(sm) {
    //     * > div {padding: 0 $basePadding }
    // }
    
}

@include respond-between(sm, xlg) {
    .container {
        grid-template-columns: 1fr 10fr 1fr;
        
        & > * {
            grid-column: 2;
        }
    }
}

@include respond-above(xlg) {
    .container {
        grid-template-columns: 1fr minmax(auto, $containerMaxWidth) 1fr;

        & > * {
            grid-column: 2;
        }
    }
}