@import "layout";

.container {
    display: grid;
    grid-row: span;

    & > * {
        grid-column: 2;
    }
}

@include respond-between(sm, lg) {
    .container {
        grid-template-columns: 1fr 10fr 1fr;
    }
}

@include respond-above(lg) {
    .container {
        grid-template-columns: 1fr 2fr 1fr;
    }
}

@include respond-below(sm) {
    .container {
        grid-template-columns: 5% 1fr 5%;
    }
}