@import 'styles/variables';
@import 'styles/colors';
@import 'styles/layout';
@import 'styles/mixins';

.homeForm {
  padding: 2 * $largeMargin 0;

  form {
    display: grid;
    gap: $baseMargin 0;
  }

  .inputWrapper {
    display: grid;

    @include respond-above(md) {
      grid-template-columns: 1fr 1fr;
      gap: 0 $baseMargin;
    }
  }
}

.wrapper {
  @include formContainer();

  @include respond-below(md) {
    padding: 0 $baseMargin;
  }
}

.submitButton {
  @include button();
}

.heading {
  text-align: center;
  h2 {
    margin-top: 0;
  }
  p {
    margin-bottom: $largeMargin;
  }
}
