@import 'styles/fonts';
@import 'styles/mixins';
@import 'styles/layout';
@import 'styles/colors';

$buttonLabelMargin: 0.2rem;

.childrenList {
  .thisYearPartner {
    p {
      text-align: left;
    }
  }
}

.addChild {
  button {
    align-items: center;
    display: inline-flex;

    background: transparent;
    border: 0;
    &:focus {
      outline: 1px solid $focusOutline;
    }
  }

  span {
    margin-left: $buttonLabelMargin;
    font-weight: $font-weight-bold;
  }
  img {
    transform: rotate(45deg);
  }
}
