@import 'mixins';
@import 'colors';
@import 'layout';
.childrenList {
    .thisYearPartner {
        p {
            text-align: left;
        }
    }
}

.profileWrapper {
    display: grid;

    @include respond-above(sm) {
        grid-template-columns: 1fr 10fr 1fr;
        
        .profile {
            grid-column: 2;
        }
    }
}

.wrapper {
    @include background($hel-light);
}