@import 'mixins';
@import 'layout';
@import 'colors';

$plusIconHeight: 2rem;

.childrenList {
  .thisYearPartner {
    p {
      text-align: left;
    }
  }
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .addChild {
    align-items: center;
    display: inline-flex;
    span {
      line-height: $baseLineHeight;
      margin-right: $baseMargin;
    }
    img {
      transform: rotate(45deg);
    }
  }
  button.addChild {
    background: transparent;
    border: 0;
    &:focus {
      outline: 1px solid $focusOutline;
    }
  }
}

.addChildIcon {
  height: $plusIconHeight;
  width: $plusIconHeight;
}
