@import 'styles/fonts';
@import 'styles/variables';

// Override globally all text to use Helsinki font.

* {
  font-family: $font-family-base;
}

button {
  &:focus {
    outline: 1px solid $focusOutline;
  }
}

p,
span,
li {
  line-height: $baseLineHeight;
}
