$headerHeight: 4rem;
$footerHeight: 10rem;

$basePadding: 1rem;
$largePadding: 3rem;
$baseMargin: $basePadding;

$largeMargin: 3rem;
$xlargeMargin: 5rem;

// Input
$inputHeight: 2.5rem;
$inputPadding: 0.888em 0.72em; // from HDS

// Button
$buttonHeight: 3rem;
$buttonPadding: 6px 12px;

// Focused button outline color
$focusOutline: var(--hds-brand-color-coat-of-arms-blue);

// Base small margin
$sm-margin: 0.2rem;

// Spinner
$spinnerHeight: 5rem;

// Image / icon
$imgHeight: 1.5rem;

// checkbox
$checkboxHeight: 1rem;
$checkboxPaddingLeft: 2rem;

// select
$selectPadding: 1.5rem;
$selectIconSize: 1rem;

// Koros
$korosHeight: 2rem;

// Layout
// (Designer proposal)
$containerMaxWidth: 1200px;
$containerFormMaxWidth: 800px;
$containerPaddingBottom: 4rem;

// Line height
$baseLineHeight: 1.6;

// Width for text paragraphs
$textParagraphMaxWidth: 70ch;

$logoWidth: 5.5rem;
