$headerHeight: 4rem;
$footerHeight: 16rem;

$basePadding: 1rem;
$baseMargin: $basePadding;

$baseLineHeight: 1.5;


// Input 

$inputHeight: 2.5rem;

// Button

$buttonHeight: 3rem;
$buttonPadding: 6px 12px;

// Base small margin
$sm-margin: 0.2rem;

// Spinner 

$spinnerHeight: 5rem;

// Image / icon

$imgHeight: 1.5rem;