@import "layout";
@import "variables";
@import "colors";

.home {
    display: grid;

    .hero {
        display: grid;
        text-align: center;

        @include respond-above(sm) {
            grid-template-columns: 1fr minmax(auto, $containerFormMaxWidth) 1fr;
            
            .heroContainer {
                grid-column: 2;
            }
        }

        .description {
            line-height: $baseLineHeight;
        }    
    }
}