@import 'styles/colors';
@import 'styles/mixins';

.home {
  section {
    &:nth-child(3),
    &:nth-child(5) {
      background-color: $white;
    }

    &:nth-child(4),
    &:nth-child(6) {
      @include background($hel-light);
    }
  }
}

.gridLayoutOverride {
  grid-template-columns: 1fr !important;

  & > * {
    grid-column: 1 !important;
  }
}

.userHasProfileContainer {
  @include background($hel-light);
}
