@import 'fonts';
@import 'variables';
@import 'colors';
@import 'layout';
@import 'mixins';

.registrationFormContainer {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-bottom: $baseMargin;
}

.registrationForm {
    grid-column: 2;
}

.childBirthdate,
.guardianEmail {
    display: flex;
    flex-direction: column;
    
    label {
        font-size: $font-size-sm;
        margin-bottom: $baseMargin * 0.25;
        font-weight: $font-weight-bold;
    }

    p {
        padding: $buttonPadding;
        padding-left: 0;
        line-height: $inputHeight;
        margin: 0;
    }
}

.guardianName {
    @include respond-above(md) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: $baseMargin;
    }
}

.submitButton {
    @include button();
}

.addNewChildButton {
    display: flex;
    justify-content: center;

    button {
        background: transparent;
        width: 50%;
        padding: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        
        > div {
            padding-right: 5px;
        }
        img {
            transform: rotate(45deg);
        }
    }
    margin-bottom: $largeMargin;
}