@import 'styles/colors';
@import 'styles/fonts';
@import 'styles/layout';
@import 'styles/mixins';
@import 'styles/variables';

$logoHeight: 2.5rem;

.navbarTop {
  height: 100%;
  display: flex;
  justify-content: space-between;
  @include respond-below(sm) {
    padding: 0 $basePadding;
  }
}

.logoWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.appName {
  font-weight: bold;
  font-size: 1.17em;
  margin: 0 0 0 30px;
}

.logo {
  @include helsinki-logo($hel-black);
  background-position: center;
  height: $logoHeight;
  width: $logoWidth;
}

.languageWrapper {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
}
